@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font:  14px/1.5, "Karla","Cormorant Infant";
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 860px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header{
    width: 100%;
    height: 860px;
    border: 1px solid black;
    background-image: url("03.Traveler_Resources/poster.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

header h1 {
    font-size: 90px;
    font-family: "Cormorant Infant";
}

header p{
   
     
    position: absolute;
    left: 34em;
    top: 20em;
    font-family: "Karla";
    font-size: 18px;
    font-weight: bold;
    width: 700px;
}

.title-conteiner{
    position: relative;
    margin-top: 23em;
    color: white;
    text-align: center;
    z-index: 10;
   
    
}

.logo{
    position: absolute;
    width: 90px;
    z-index: 19;
    top: 1.5em;
    left: 5em;
}

.nav{
    position: absolute;
    top: 2em;
    right: 4em;
    z-index: 34;
    color: white;
    font-family:"Karla" ;

}
.nav ul{
    display: flex;
    list-style: none;
    gap: 3em;
}

.con-section{
    position: relative;
    height: 620px;
    background-color: #F8F0E9;
    padding: 1px;

}

.con-section p:nth-child(1){
    margin-top: 5em;
    font-size: 16px;
    margin-left: 27em;
}

.con-section p{
    margin-top: 0.8em;
    font-family: "Cormorant Infant";
    display: flex;
    font-style: italic;
    font-weight: bold;
    width: 69rem;
    font-size: 70px;
    margin-left: 6em;
    
}

.con-red-banner{
    width: 100%;
    height: 330px;
    background-color: red;
    text-align: center;
    align-content: center;
}

.con-red-banner p{
    color: white;
}

.con-red-banner p:nth-child(1){
    margin-top: -3em;
    font-family:"Karla" ;
    font-size: 30px;
}

.con-red-banner p:nth-child(2){
    margin-left: 38em;
    width: 400px;
    font-family:"Karla" ;
    margin-top: 3em;
    font-size: 20px;
}

.presentation{
    background-color: #F8F0E9;
    height: 1340px;
    text-align: center;
}

.presentation img{
    margin-top: -7em;
    transform: scale(1);
   
}

.conteiner{
    top:125em;
    position: absolute;
    left: 35em;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.conteiner h2{
    font-family: "Cormorant Infant";
    margin-top: 1em;
    font-size: 90px;
    
}

.conteiner p {
    font-size: 29px;
    text-align: start;
}

.conteiner button{
    margin-top: 6em;
}

.read button{
    position: absolute;
    top: 36em;
    left: 0em;
    font-size: 20px;
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid black;
    border-radius: 0.3em;
    background-color: white;

}

.read-all button{
    position: absolute;
    top: 45em;
    left: 11em;
    font-size: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 1px solid black;
    border-radius: 0.3em;
    background-color: white;

}
