* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section {
    border: 2px solid black;
    padding: 1em 2em 1em 2em;
    margin-bottom: 2em;
}

section > p {
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 1em;
}

.Displayblock > p {
display: block;
}

.Displayinline > p {
display: inline;
}

.InlineBlock > p {
    display: inline-block;
}